{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-3">Event details</h1>

     <div class='p-2'>
          <div class='card h-100'>
            <img src={{ event.picture }} class='card-img-top object-fit-cover' style='width:100%;' alt={{ event.name }}>
            <div class='card-body'>
              <h5 class='card-title'>Event name: {{ event.name }}</h5>
              <p class='card-text'>Event type: {{ event.type }}</p>
              <p class='card-text'>Description: {{ event.description }}</p>
              <p class='card-text'>Date and time: {{ event.date ? event.date|date('Y-m-d H:i') : '' }}</p>
              <p class='card-text'>Contact email: {{ event.mail }}</p>
              <p class='card-text'>Contact number: {{ event.phoneNumber }}</p>
              <p class='card-text'>Address: {{ event.address }}</p>
              <p class='card-text'>Capacity: {{ event.capacity }} seats</p>
              <p class='card-text'>URL: {{ event.url }}</p>
              <div class='d-flex justify-content-start'>
              <a class="btn btn-primary mx-1" href="{{ path('app_events_index') }}">Go back</a>
              <a class="btn btn-warning mx-1" href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
              {{ include('events/_delete_form.html.twig') }}
             </div>
            </div>
          </div>
        </div>

    
</div>
{% endblock %}
